{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>E-mail</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles | join(', ') }}</td>
        </tr>
    </table>
{% endblock %}
